@tailwind base;
@tailwind components;
@tailwind utilities;

.code-container pre,
.code-container code {
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
  overflow-x: hidden !important;
}
